<div id="productTabs{{ block-producttabs }}" class="products_block exclusive block">
	<div class="block_content box-line">
		<ul id="productTabsNav" class="nav nav-tabs">
			{% if settings.home_producttabs_titletab_1 != blank %}
				<li><a href="#{{ settings.home_producttabs_titletab_1 | camelcase }}" data-toggle="tab"><span>{{ settings.home_producttabs_titletab_1 }}</span></a></li>
			{% endif %}
			{% if settings.home_producttabs_titletab_2 != blank %}
          		<li><a href="#{{ settings.home_producttabs_titletab_2 | camelcase }}" data-toggle="tab"><span>{{ settings.home_producttabs_titletab_2 }}</span></a></li>
			{% endif %}
      		{% if settings.home_producttabs_titletab_3 != blank %}
          		<li><a href="#{{ settings.home_producttabs_titletab_3 | camelcase }}" data-toggle="tab"><span>{{ settings.home_producttabs_titletab_3 }}</span></a></li>
  			{% endif %}
      		{% if settings.home_producttabs_titletab_4 != blank %}
      			<li><a href="#{{ settings.home_producttabs_titletab_4 | camelcase }}" data-toggle="tab"><span>{{ settings.home_producttabs_titletab_4 }}</span></a></li>
      		{% endif %}
		</ul>
		<div id="product_tab_content">
			<div class="product_tab_content tab-content {% if settings.home_producttabs_type != 'boostrap_carousel' %}owl-row{% endif %}">
              	{% assign item_in_page = settings.home_producttabs_itempage | plus:0 %}
                {% assign columns_product = settings.home_producttabs_columntab | plus:0 %}
                {% assign product_in_tab = settings.home_producttabs_limit %}
				{% if settings.home_producttabs_titletab_1 != blank %}
					<div class="tab-pane" id="{{ settings.home_producttabs_titletab_1 | camelcase }}">
						{% assign collection_produclists = collections[settings.home_producttabs_collection_1].products %}
						{% if settings.home_producttabs_type == 'boostrap_carousel' %}
							{% capture product_carousel %}producttab01{{ block-producttabs }}{% endcapture %}
							{% include 'product-carousel' %}
						{% else %}
							{% include 'product-carousel-owl' %}
						{% endif %}
	              	</div>
              	{% endif %}
              	{% if settings.home_producttabs_titletab_2 != blank %}
					<div class="tab-pane" id="{{ settings.home_producttabs_titletab_2 | camelcase }}">
						{% assign collection_produclists = collections[settings.home_producttabs_collection_2].products %}
						{% if settings.home_producttabs_type == 'boostrap_carousel' %}
							{% capture product_carousel %}producttab02{{ block-producttabs }}{% endcapture %}
							{% include 'product-carousel' %}
						{% else %}
							{% include 'product-carousel-owl' %}
						{% endif %}
	              	</div>
              	{% endif %}
              	{% if settings.home_producttabs_titletab_3 != blank %}
					<div class="tab-pane" id="{{ settings.home_producttabs_titletab_3 | camelcase }}">
						{% assign collection_produclists = collections[settings.home_producttabs_collection_3].products %}
						{% if settings.home_producttabs_type == 'boostrap_carousel' %}
							{% capture product_carousel %}producttab03{{ block-producttabs }}{% endcapture %}
							{% include 'product-carousel' %}
						{% else %}
							{% include 'product-carousel-owl' %}
						{% endif %}
	              	</div>
              	{% endif %}
              	{% if settings.home_producttabs_titletab_4 != blank %}
					<div class="tab-pane" id="{{ settings.home_producttabs_titletab_4 | camelcase }}">
						{% assign collection_produclists = collections[settings.home_producttabs_collection_4].products %}
						{% if settings.home_producttabs_type == 'boostrap_carousel' %}
							{% capture product_carousel %}producttab04{{ block-producttabs }}{% endcapture %}
							{% include 'product-carousel' %}
						{% else %}
							{% include 'product-carousel-owl' %}
						{% endif %}
	              	</div>
              	{% endif %} 
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function() {
		{% if settings.home_producttabs_type == 'boostrap_carousel' %}
		    $('#productTabs{{ block-producttabs }} .carousel').each(function(){
		        $(this).carousel({
		            pause: 'hover',
		            interval: {{ settings.home_producttabs_interval }}
		        });
		    });
	    {% else %}
	    	$('#productTabs{{ block-producttabs }} .owl-carousel').each(function(){
    		  	$(this).owlCarousel({
    		      	items : {{ columns_product }},
    		      	lazyLoad : true,
    		      	navigation : true,
              		navigationText : ["{{ 'products.carousel.preview' | t }}", "{{ 'products.carousel.next' | t }}"]
		      	}); 
    		});
	    {% endif %}
		$("#productTabs{{ block-producttabs }} .nav-tabs li", this).first().addClass("active");
		$("#productTabs{{ block-producttabs }} .tab-content .tab-pane", this).first().addClass("active");
	});
</script>