<div id="productlist{{ block-productlist }}" class="products_block exclusive block" >
	{% if settings.home_productlist_titletab != blank %}
		<h4 class="page-subheading">
			{{ settings.home_productlist_titletab }}
		</h4>
	{% endif %}
	<div class="block_content box-line">
		{% assign collection_produclists = collections[settings.home_productlists_collection].products %}
		{% if settings.home_productlists_type == 'boostrap_carousel' %}
			{% capture product_carousel %}product_list_00{{ block-productlist }}{% endcapture %}
			{% include 'product-carousel' %}
		{% else %}
			{% include 'product-carousel-owl' %}
		{% endif %}
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		{% if settings.home_productlists_type == 'boostrap_carousel' %}
	    $('#productlist{{ block-productlist }}').each(function(){
	        $(this).carousel({
	            pause: 'hover',
	            interval: {{ settings.home_productlists_interval }}
	        });
	    });
	    {% else %}
	    	$('#productlist{{ block-productlist }} .owl-carousel').each(function(){
    		  	$(this).owlCarousel({
    		      	items : {{ columns_product }},
    		      	lazyLoad : true,
    		      	navigation : true,
              		navigationText : ["{{ 'products.carousel.preview' | t }}", "{{ 'products.carousel.next' | t }}"]
		      	}); 
    		});
	    {% endif %}
	});
</script>