<div class="footer-block block footer_html">
	{% if titleblock != blank %}
		<h4 class="title_block">{{ titleblock }}</h4>
	{% endif %}
	<div class="block_content">
		{{ blockcontent }}
	</div>
</div>