{% assign pagewishlist = pages[settings.theme_wishlist_page] %}
{% if shop.customer_accounts_optional %}
	<script type="text/javascript">
		$(document).ready( function(){
			if( $(window).width() < 991 ){
					$(".header_user_info").addClass('popup-over');
					$(".header_user_info .links").addClass('dropdown-menu');
				}
				else{
					$(".header_user_info").removeClass('popup-over');
					$(".header_user_info .links").removeClass('dropdown-menu');
				}
			$(window).resize(function() {
				if( $(window).width() < 991 ){
					$(".header_user_info").addClass('popup-over');
					$(".header_user_info .links").addClass('dropdown-menu');
				}
				else{
					$(".header_user_info").removeClass('popup-over');
					$(".header_user_info .links").removeClass('dropdown-menu');
				}
			});
		});
	</script>
	<div class="header_user_info e-scale">
		<div data-toggle="dropdown" class="popup-title dropdown-toggle">
			<i class="fa fa-user"></i><span>{{ 'header.userinfo.title' | t }}</span>
		</div>
		<ul class="links">
			{% if customer  %}
				<li>
					{% capture fullname %}{{ customer.first_name }} {{ customer.last_name }}{% endcapture %}
                  	<a class="account" rel="nofollow" href="/account" title="{{ 'customer.account.title' | t }}"><span>{{ 'header.general.welcome_html' | t : fullname : fullname }}</span></a>
				</li>
				<li>
					<a id="customer_logout_link" href="/account/logout" title="{{ 'layout.customer.log_out' | t }}"><i class="fa fa-unlock-alt"></i> {{ 'layout.customer.log_out' | t }}</a>
				</li>
			{% else %}
				<li>
					<a id="customer_login_link" href="/account/login" title="{{ 'layout.customer.log_in' | t }}"><i class="fa fa-unlock-alt"></i> {{ 'layout.customer.log_in' | t }}</a>
				</li>
				<li>
					<a id="customer_register_link" href="/account/register" title="{{ 'customer.register.name' | t }}"><i class="fa fa-edit"></i> {{ 'customer.register.name' | t }}</a>
				</li>
			{% endif %}
			<li>
				<a class="account" rel="nofollow" href="/account" title="{{ 'customer.account.title' | t }}"><i class="fa fa-user"></i> {{ 'customer.account.title' | t }}</a>
			</li>
			<li>
				<a href="/cart" title="{{ 'cart.general.title' | t }}"><i class="fa fa-share"></i> {{ 'cart.general.checkout' | t }}</a>
			</li>
			{% if settings.theme_wishlist_enable %}
				<li>
					<a id="wishlist-total" title="My wishlists" href="{{ pagewishlist.url }}"><i class="fa fa-heart"></i> {{ 'general.wishlist.title' | t }}</a>
				</li>
			{% endif %}
		</ul>
	</div>
{% endif %}