<div class="block_aboutshop block">
	<div class="block_content">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="box logo-ft">
					{{ 'shop_images_footer.png' | asset_url | img_tag: settings.footer_aboutshop_title, "img-responsive" }}
				</div>
			</div>
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
				{% if settings.footer_aboutshop_title %}
					<h3 class="title_block">{{ settings.footer_aboutshop_title }}</h3>
				{% endif %}
				<div class="about">
					{% if settings.footer_aboutshop_des %}
						<p>{{ settings.footer_aboutshop_des }}</p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>