{% unless template == 'index' or template == 'cart' %}
<section id="breadcrumbs">
    <div class="container">
        <nav role="navigation" aria-label="breadcrumbs">
            <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a href="/" title="{{ 'general.breadcrumbs.home_link_title' | t }}" itemprop="item">
                        <span itemprop="name">{{ 'general.breadcrumbs.home' | t }}</span>
                    </a>
                  	<meta itemprop="position" content="1" />
                </li>
                {% if template contains 'product' %}
                    {% if collection %}
                        {% if collection.handle %}
                            {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
                            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <a href="{{ url }}" title="{{ collection.title }}" itemprop="item">
                                    <span itemprop="name">{{ collection.title }}</span>
                                </a>
                              	<meta itemprop="position" content="2" />

                            </li>
                        {% endif %}
                    {% endif %}
                    <li class="active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                      	<span itemprop="item"><span itemprop="name">{{ product.title }}</span></span>
                      	{% if collection %}
                        	{% if collection.handle %}
                      			<meta itemprop="position" content="3" />
                      		{% endif %}
                      	{% else %}
                      		<meta itemprop="position" content="2" />
                      	{% endif %}
                    </li>
                {% elsif template contains 'collection' and collection.handle %}
                    {% if current_tags %}
                        {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a href="{{ url }}" title="{{ collection.title }}" itemprop="item">
                                <span itemprop="name">{{ collection.title }}</span>
                            </a>
                          	<meta itemprop="position" content="2" />
                        </li>
                        <li class="active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <span itemprop="item"><span itemprop="name">{{ current_tags | join: " + " }}</span></span>
                          	<meta itemprop="position" content="3" />
                        </li>
                    {% else %}
                        <li class="active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <span itemprop="item"><span itemprop="name">{{ collection.title }}</span></span>
                          	<meta itemprop="position" content="2" />
                        </li>
                    {% endif %}
                {% elsif template == 'blog' %}
                    {% if current_tags %}
                        {{ blog.title | link_to: blog.url }}
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a href="{{ blog.url }}" title="{{ blog.title }}" itemprop="item">
                                <span itemprop="name">{{ blog.title }}</span>
                            </a>
                          	<meta itemprop="position" content="2" />
                        </li>
                        <li class="active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <span itemprop="item"><span itemprop="name">{{ current_tags | join: " + " }}</span></span>
                          	<meta itemprop="position" content="3" />
                        </li>
                    {% else %}
                        <li class="active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <span itemprop="item"><span itemprop="name">{{ blog.title }}</span></span>
                          	<meta itemprop="position" content="2" />
                        </li>
                    {% endif %}
                {% elsif template == 'article' %}
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a href="{{ blog.url }}" title="{{ blog.title }}" itemprop="item">
                            <span itemprop="name">{{ blog.title }}</span>
                        </a>
                      	<meta itemprop="position" content="2" />
                    </li>
                    <li class="active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <span itemprop="item"><span itemprop="name">{{ article.title }}</span></span>
                      	<meta itemprop="position" content="3" />
                    </li>
                {% elsif template contains 'page' %}
                    <li class="active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <span itemprop="item"><span itemprop="name">{{ page.title }}</span></span>
                      	<meta itemprop="position" content="2" />
                    </li>
                {% else %}
                    <li class="active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <span itemprop="item"><span itemprop="name">{{ page.title }}</span></span>
                      	<meta itemprop="position" content="2" />
                    </li>
                {% endif %}
            </ol>
        </nav>
    </div>
</section>
{% endunless %}