<div class="footer-container">
    <section id="footertop" class="footer-top"> 
        <div class="container">
            <div class="footer_top_wrap">
                <div class="row">
                    <div class="col-md-9 col-sm-8 col-xs-12">
                        {% if settings.footer_aboutshop_enable %}
                            {% include 'block-aboutshop' %}
                        {% endif %}
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                    
                      	{% if settings.footer_social_enable %}
                            {% include 'block-social' %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="footercenter" class="footer-center">
        <div class="container">
            <div class="footer-center-wrap">
                <div class="row">
                    <div class="col-md-3 col-sm-12 col-xs-12 {% if settings.lazyload_enable %}wow animated {{ settings.lazyload_fopentime }}{% endif %}" data-wow-delay="100ms">
                        <div class="footer_boxed">
                            {% if settings.footer_blockhtml_enable %}
                          		{% assign titleblock = settings.footer_blockhtml_title %}
                          		{% assign blockcontent = settings.footer_blockhtml_content %}
                                {% include 'block-footerhtml' %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 {% if settings.lazyload_enable %}wow animated {{ settings.lazyload_flinks }}{% endif %}" data-wow-delay="200ms">
                        <div class="footer_quicklink footer_boxed">
                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    {% if settings.footer_quicklinks_enable %}
                                        {% assign footerlinks_name = settings.footer_quicklinks_linklist %}
                                        {% assign footerlinks_title = settings.footer_quicklinks_title %}
                                        {% include 'block-footerlinks' with '1' %}
                                    {% endif %}
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    {% if settings.footer_quicklinks_enable_1%}
                                        {% assign footerlinks_name = settings.footer_quicklinks_linklist_1 %}
                                        {% assign footerlinks_title = settings.footer_quicklinks_title_1 %}
                                        {% include 'block-footerlinks' with '2' %}
                                    {% endif %}
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    {% if settings.footer_quicklinks_enable_2 %}
                                        {% assign footerlinks_name = settings.footer_quicklinks_linklist_2 %}
                                        {% assign footerlinks_title = settings.footer_quicklinks_title_2 %}
                                        {% include 'block-footerlinks' with '3' %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12 {% if settings.lazyload_enable %}wow animated {{ settings.lazyload_fcontact }}{% endif %}" data-wow-delay="300ms">
                        <div class="footer_boxed">
                            {% if settings.footer_blockcontact_enable %}
                                {% include 'block-contactus' %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="footernav" class="footer-nav">
        <div class="container">
            <div id="powered" class="powered {% if settings.lazyload_enable %}wow animated {{ settings.lazyload_fcoppyright }}{% endif %}">
                <p class="text-center">&copy; Copyright {{ "now" | date: "%Y" }} {{ shop.name }}.</p>
            </div>
        </div>
    </section>
</div>