{% include 'oldIE-js' %}
{{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
{{ 'modernizr.min.js' | asset_url | script_tag }}
{% if settings.theme_retine_enable %}
	{{ 'retina.js' | asset_url | script_tag }}
{% endif %}
{% if settings.apollo_count_down_enable %}
	{{ 'countdown.js' | asset_url | script_tag }}
{% endif %}	
{{ 'wow.min.js' | asset_url | script_tag }}
{% if template contains 'customers' %}
	{{ 'shopify_common.js' | shopify_asset_url | script_tag }}
{% endif %}
{{ 'jquery.fancybox.js' | asset_url | script_tag }}
{{ 'jquery.elevatezoom.js' | asset_url | script_tag }}
{{ 'instafeed.min.js' | asset_url | script_tag }}
{{ 'jquery.cookie.js' | asset_url | script_tag }}
{{ 'jquery.scrollTo-min.js' | asset_url | script_tag }}
{{ 'jquery.serialScroll.js' | asset_url | script_tag }}
{{ 'bootstrap.min.js' | asset_url | script_tag }}

{{ 'api.jquery.js' | shopify_asset_url | script_tag }}
{{ 'option_selection.js' | shopify_asset_url | script_tag }}
{{ 'global.js' | asset_url | script_tag }}
{% assign pagewishlist = pages[settings.theme_wishlist_page] %}
<script>
	window.money_format = "{{shop.money_with_currency_format}}";
  	window.shop_currency = "{{ shop.currency }}";
	window.file_url = "{{''|file_url}}";
  	window.asset_url = "{{''|asset_url}}";
    window.wishlist_url = "{{ pagewishlist.url }}";
    window.wishlist_enable = {{ settings.theme_wishlist_enable }};
    window.quickview_enable = {{ settings.theme_quickview_enable }};
</script>