{% capture ap_html_title %}apmenuitem_thtml_{{ intMega }}{% endcapture %}
{% capture ap_html_img %}apmenuitem_ihtml_{{ intMega }}.jpg{% endcapture %}
{% capture ap_html_des %}apmenuitem_chtml_{{ intMega }}{% endcapture %}
<div class="block-html">
	{% if settings[ap_html_title] != blank %}
		<div class="menu-title">{{ settings[ap_html_title] }}</div>
	{% endif %}
	<div class="widget-inner">
		<div class="box-image">{{ ap_html_img | asset_url | img_tag: settings[ap_html_title], "img-responsive" }}</div>
		{% if settings[ap_html_des] != blank %}
			<p>{% include 'shortcode' load: settings[ap_html_des] %}</p>
		{% endif %}
	</div>
</div>