{% capture apvideo %}apmenuitem_evideo_{{ intMega }}{% endcapture %}
{% capture approduct %}apmenuitem_eproduct_{{ intMega }}{% endcapture %}
{% capture aphtml %}apmenuitem_ehtml_{{ intMega }}{% endcapture %}
{% capture aplink %}apmenuitem_eblocklinks_{{ intMega }}{% endcapture %}

{% capture ap_colvideo %}apmenuitem_columns_blockvideo_{{ intMega }}{% endcapture %}
{% capture ap_colproduct %}apmenuitem_columns_blockproducts_{{ intMega }}{% endcapture %}
{% capture ap_colhtml %}apmenuitem_columns_blockhtml_{{ intMega }}{% endcapture %}
{% capture ap_collink %}apmenuitem_columns_blocklinks_{{ intMega }}{% endcapture %}

{% if fullwidth == 'aligned-center' %}
	{% capture apwidth %}apmenuitem_width_{{ intMega }}{% endcapture %}
	{% capture apstyle %}style='width:{{ settings[apwidth] }}'{% endcapture %}
{% endif %}

<div class="dropdown-sub dropdown-menu sub-apmegamenu-{{ intMega }}" {{ apstyle }}>
	<div class="dropdown-menu-inner">
		<div class="row">
			{% if settings[aplink] %}
				<div class="mega-col col-sm-{{ settings[ap_collink] }}">
					{% include 'menu-blocklinks' %}
				</div>
			{% endif %}
			{% if settings[apvideo] %}
				<div class="mega-col col-sm-{{ settings[ap_colvideo] }}">
				{% include 'menu-blockvideos' %}
				</div>
			{% endif %}
			{% if settings[approduct] %}
				<div class="mega-col col-sm-{{ settings[ap_colproduct] }}">
					{% include 'menu-blockproducts' %}
				</div>
			{% endif %}
			{% if settings[aphtml] %}
				<div class="mega-col col-sm-{{ settings[ap_colhtml] }}">
					{% include 'menu-blockhtml' %}
				</div>
			{% endif %}
		</div>
	</div>
</div>