{% capture collection_menu %}apmenuitem_cproduct_{{ intMega }}{% endcapture %}
{% capture collection_menu_title %}apmenuitem_tproduct_{{ intMega }}{% endcapture %}
{% capture collection_product_limit %}apmenuitem_nproduct_{{ intMega }}{% endcapture %}
{% assign imagesize = settings.product_menu_imagesize %}

{% assign collection_name = settings[collection_menu] %}
{% assign collection_products = collections[collection_name].products %}
{% assign on_sale = false %}
<div class="products_menu">
	{% if settings[collection_menu_title] != blank %}
		<div class="menu-title">
			{{ settings[collection_menu_title] }}
		</div>
	{% endif %}
	<div class="product-block">
		{% for product in collection_products limit:settings[collection_product_limit] %}
			{% if product.compare_at_price > product.price %}
			    {% assign on_sale = true %}
			{% endif %}
			<div class="product-container clearfix">	
				<div class="image ">
					<a class="product_img_link" href="{{ product.url | within: collection }}" title="{{ product.title }}">
						<img class="replace-2x img-responsive" src="{{ product.featured_image | product_img_url: imagesize }}" alt="{{ product.title }}">
					</a>
				</div>
				<div class="product-meta">
					<h5 class="name">
						<a class="product-name" href="{{ product.url | within: collection }}" title="{{ product.title }}">
							{{ product.title }}
						</a>
					</h5>
					<div class="product-desc">
						{{ product.description | strip_html | truncatewords: 6}}
					</div>
					<div class="content_price">
						{% if on_sale %}
                   			<span class="old-price product-price">{{ product.compare_at_price | money }}</span>
		                {% endif %}
		                <span class="price product-price">
		                    {{ product.price | money }}
		                </span>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>