{% assign product_in_tab = 12 %}
{% assign columns_product = 4 %}

<div class="owl-carousel slide">
	{% assign grid_item_width = ' ' %}
	{% assign products = collection_produclists %}
	{% for product in products limit:product_in_tab %}
		<div class="item">
			{% include 'product-grid-item' %}
		</div>
	{% endfor %}
</div>