{% unless grid_item_width %}
	{% capture grid_item_width %}col-md-3 col-xs-6 col-sp-12{% endcapture %}
{% endunless %}
{% unless current_collection == blank %}
    {% assign current_collection = collection %}
{% endunless %}
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
    {% assign on_sale = true %}
{% endif %}
{% assign sold_out = true %}
{% if product.available  %}
    {% assign sold_out = false %}
{% endif %}
{% assign imagesize = settings.home_product_imagesize %}

{% assign new = false %}
{% assign new_count = settings.theme_newproduct | plus: 0 %}
{% assign date_published_year = product.published_at | date:'%Y' %}
{% assign date_published_month = product.published_at | date:'%m' %}
{% assign date_published_day = product.published_at | date:'%d' %}

{% assign date_now_year = 'now' | date:'%Y' %}
{% assign date_now_month = 'now' | date:'%m' %}
{% assign date_now_day = 'now' | date:'%d' %}

{% assign day_year = date_now_year | minus:date_published_year | times: 365 %}
{% assign day_month = date_now_month | minus:date_published_month | times: 30 %}
{% assign day_day = date_now_day | minus:date_published_day %}

{% assign date_difference = day_year | plus: day_month | plus: day_day %}
{% if date_difference <= new_count %}
	{% assign new = true %}
{% endif %}

{% assign productIndex = forloop.index | minus:1 %}
{% if settings.productitem_animate_enable %}
	{% if settings.productitem_animate_delay != blank %}
        {% assign delayTime = settings.productitem_animate_delay | times : productIndex %}
    {% else %}
        {% assign delayTime = 100 | times : productIndex %}
    {% endif %}
	{% capture delayLoadProduct %}data-wow-delay="{{delayTime}}ms"{% endcapture %}
	{% assign effectLoadProduct = 'wow fadeIn' %}
{% else %}
	{% capture delayLoadProduct %}{% endcapture %}
	{% assign effectLoadProduct = '' %}
{% endif %}


<div class="product_block {{ effectLoadProduct }} {{ grid_item_width }}" {{ delayLoadProduct }}>
    <div class="product-container text-left product-block">
        <div class="product-image-container image">
            <a class="product_img_link" href="{{ product.url | within: collection }}" title="{{ product.title }}">
                <img class="replace-2x img-responsive" src="{{ product.featured_image | product_img_url: imagesize }}" alt="{{ product.title }}">
                {% if settings.theme_more_pimages_enable and settings.theme_more_pimages_option == 'showone' %}
                    {% include 'product-more-image' %}
                {% endif %}
            </a>
            {% if settings.theme_more_pimages_enable and settings.theme_more_pimages_option == 'showmore' %}
                {% include 'product-more-image' %}
            {% endif %}
            {% if new %}
                <span class="new-box">
                    <span class="label-new label">{{ 'products.product.new_from_html' | t }}</span>
                </span>
            {% endif %}
            {% if on_sale %}
                <span class="sale-box">
                    <span class="label-sale label">{{ 'products.product.on_sale_from_html' | t }}</span>
                </span>
            {% endif %}
            <div class="functional-buttons clearfix">
                <div class="cart">
                    {% assign variantCount = product.variants | size %}
                    <div class="action">
                        <form action="/cart/add" method="post" enctype="multipart/form-data" class="form-ajaxtocart">
                            <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                            {% if sold_out %}
                                <input type="submit" value="{{ 'products.product.sold_out' | t }}" class="button ajax_addtocart disabled" />
                            {% else %}
                                {% if variantCount > 1 %}
                                    <a class="button ajax_addtocart" href="{{ product.url | within: collection }}" title="{{ product.title }}">{{ 'products.product.select_options' | t }}</a>
                                {% else %}
                                    <input type="submit" value="{{ 'products.product.add_to_cart' | t }}" class="button ajax_addtocart" />
                                {% endif %}
                            {% endif %}
                        </form> 
                    </div> 
                </div>
                {% if settings.theme_wishlist_enable %}
                    {% include 'wishlist-product' %}
                {% endif %}
                <div class="view_detail">
                    <a class="btn lnk_view" href="{{ product.url | within: collection }}" title="View">
                        <i class="fa fa-info"></i><span></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="product-meta">
            {% if dealTime %}
                {% include 'block-productdeal' %}
            {% endif %}
            <h5 class="name">
                <a class="product-name" href="{{ product.url | within: collection }}" title="{{ product.title }}">{{ product.title }}</a>
            </h5>
            {% if settings.product_reviews_enable %}
                <div class="review">
                    <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                </div>
            {% endif %}
            <div class="product-desc">{{ product.description }}</div>
            <div class="content_price">
                {% if on_sale %}
                    <span class="old-price product-price">{{ product.compare_at_price | money }}</span>
                {% endif %}
                <span class="price product-price {% if on_sale %}sale-price{% endif %}">
                    {{ product.price | money }}
                </span>
            </div>
            {% if settings.theme_quickview_enable %}
                <div class="quickview">
                    <a class="quick-view btn" href="#quick-view-product" data-handle="{{ product.handle }}" title="{{ 'general.quickview.title' | t }}">
                        <i class="fa fa-plus"></i>
                        <span>{{ 'general.quickview.title' | t }}</span>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</div>