{% if settings.slider_width_mode == "boxed" %}
    <div class="container">
{% endif %}
<div class="slider-container {{ settings.slider_group_class }}">
    <ul id="sliderlayer" class="slides clearfix">
        {% for i in (1..6) %}
            {% capture slide %}slide_{{ i }}{% endcapture %}
            {% capture slide_img %}slideshow_image_{{ i }}.jpg{% endcapture %}
            {% capture slide_url %}slideshow_url_{{ i }}{% endcapture %}
            {% capture slide_title %}slideshow_title_{{ i }}{% endcapture %}
            {% capture slide_des %}slideshow_des_{{ i }}{% endcapture %}
            {% capture slide_textlink %}slideshow_textlink_{{ i }}{% endcapture %}
            {% capture slide_urllink %}slideshow_urllink_{{ i }}{% endcapture %}
            {% capture slide_caption %}caption_{{ i }}{% endcapture %}
            {% capture slide_txt1 %}slideshow_txtfirst_{{ i }}{% endcapture %}
            {% if settings[slide] %}
                <li data-thumb="{{ slide_img | asset_url }}">
                    {% if settings[slide_url] == blank %}
                        <img class="img-responsive" alt="{{ settings[slide_title] }}" src="{{ slide_img | asset_url }}" />
                    {% else %}
                        <a href="{{ settings[slide_url] }}" class="slide-link">
                            <img class="img-responsive" alt="{{ settings[slide_title] }}" src="{{ slide_img | asset_url }}" />
                        </a>
                    {% endif %}
                    <div class="slide-caption {{ slide_caption }}">
                        <div class="container">
                            {% if settings[slide_txt1] != blank %}
                                <div class="text_first">{{ settings[slide_txt1] }}</div>
                            {% endif %}
                            {% if settings[slide_title] != blank %}
                                <h3>{{ settings[slide_title] }}</h3>
                            {% endif %}
                            {% if settings[slide_des] != blank %}
                                <p>{{ settings[slide_des] }}</p>
                            {% endif %}
                            {% if settings[slide_textlink] != blank %}
                                <a class="btn btn-slide" href="{{ settings[slide_urllink] }}" title="{{ settings[slide_textlink] }}">{{ settings[slide_textlink] }}</a>
                            {% endif %}
                        </div>
                    </div>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
{% if settings.slider_width_mode == "boxed" %}
    </div>
{% endif %}
<script>
    $(document).ready(function() {
        $('.slider-container').flexslider({
            namespace: "leo-", 
            animation: "{{ settings.slider_animation_type }}",
            smoothHeight: false,
          	slideshowSpeed: {{ settings.slider_slideshowspeed }},
          	animationSpeed: {{ settings.slider_animationspeed }}
        });
    });
</script>