{% assign pagewishlist = pages[settings.theme_wishlist_page] %}
<div class="wishlist">
	{% if customer %}
		{% assign value = product.id %}
		{% capture productID %}{{ product.id }}{% endcapture %}
		{% for tag in customer.tags %}
			{% capture tagID %}{{ tag }}{% endcapture %}
			{% if tagID contains productID %}
				{% capture value %}x{{ tagID }}{% endcapture %}
			{% endif %}
			{% if value.size == 0 %}{% assign value = productID %}{% endif %}
		{% endfor %}
		{% unless value.size == 0 %}
			{% capture check %}{{ value.size | minus:productID.size | money_without_currency | times:100 | divided_by:2 }}{% endcapture %}
			{% assign check = check | split:'.' %}
			{% if check[1] contains "5" %}{% assign display = false %}{% else %}{% assign display = true %}{% endif %}
		{% endunless %}
		{% if display %}
			{% form 'customer' %}
				<input type="hidden" name="contact[email]" value="{{ customer.email }}"/>
				<input type="hidden" name="contact[tags]" value="{{ value }}" />
				<button class="btn btn-outline-inverse btn-wishlist" type='submit'>
					<i class="fa fa-heart"></i>
					<span>{{ 'general.wishlist.add_to_wishlist' | t }}</span>
				</button>
			{% endform %}
		{% else %}
			<a class="btn btn-outline-inverse btn-wishlist added" href="{{ pagewishlist.url }}">
				<i class="fa fa-heart"></i>
				<span>{{ 'general.wishlist.go_to_wishlist' | t }}</span>
			</a>
		{% endif %}
	{% else %}
		<a class="btn btn-outline-inverse btn-wishlist" href="/account/login">
			<i class="fa fa-heart"></i>
			<span>{{ 'general.wishlist.add_to_wishlist' | t }}</span>
		</a>
	{% endif %}
</div>