//========== Variables ==========//
$theme-color-default: #FFFFFF;
$theme-font-size: 14px;
$slider-text-color: #FFFFFF;



//-- Mixins ===============================//
@mixin clearfix() {
    &:before, &:after {
        content: " "; // 1
        display: table; // 2
    }
    &:after {
        clear: both;
    }
}
// Animations
@mixin animation($animation) {
    -webkit-animation: $animation;
            animation: $animation;
}
@mixin animation-name($name) {
    -webkit-animation-name: $name;
            animation-name: $name;
}
@mixin animation-duration($duration) {
    -webkit-animation-duration: $duration;
            animation-duration: $duration;
}
@mixin animation-timing-function($timing-function) {
    -webkit-animation-timing-function: $timing-function;
            animation-timing-function: $timing-function;
}
@mixin animation-delay($delay) {
    -webkit-animation-delay: $delay;
            animation-delay: $delay;
}
@mixin animation-iteration-count($iteration-count) {
    -webkit-animation-iteration-count: $iteration-count;
            animation-iteration-count: $iteration-count;
}
@mixin animation-direction($direction) {
    -webkit-animation-direction: $direction;
            animation-direction: $direction;
}
@mixin animation-fill-mode($animation-fill-mode){
    -webkit-animation-fill-mode: $animation-fill-mode;
    -moz-animation-fill-mode: $animation-fill-mode;
    -ms-animation-fill-mode: $animation-fill-mode;
    -o-animation-fill-mode: $animation-fill-mode;
    animation-fill-mode: $animation-fill-mode;
}
@mixin transition($transition...) {
    -webkit-transition: $transition;
            transition: $transition;
}
@mixin content-animation($animation-name) {
    @if $animation-name == bounce {
        0%, 20%, 53%, 80%, 100% {-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);}
        40%, 43% {-webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);-webkit-transform: translate3d(0, -30px, 0);transform: translate3d(0, -30px, 0);}
        70% {-webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);-webkit-transform: translate3d(0, -15px, 0);transform: translate3d(0, -15px, 0);}
        90% {-webkit-transform: translate3d(0,-4px,0);transform: translate3d(0,-4px,0);}
    } @else if $animation-name == bounceIn {
        0%, 20%, 40%, 60%, 80%, 100% {-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);}
        0% {opacity: 0;-webkit-transform: scale3d(.3, .3, .3);transform: scale3d(.3, .3, .3);}
        20% {-webkit-transform: scale3d(1.1, 1.1, 1.1);transform: scale3d(1.1, 1.1, 1.1);}
        40% {-webkit-transform: scale3d(.9, .9, .9);transform: scale3d(.9, .9, .9);}
        60% {opacity: 1;-webkit-transform: scale3d(1.03, 1.03, 1.03);transform: scale3d(1.03, 1.03, 1.03);}
        80% {-webkit-transform: scale3d(.97, .97, .97);transform: scale3d(.97, .97, .97);}
        100% {opacity: 1;-webkit-transform: scale3d(1, 1, 1);transform: scale3d(1, 1, 1);}
    } @else if $animation-name == bounceInDown {
        0%, 60%, 75%, 90%, 100% {-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);}
        0% {opacity: 0;-webkit-transform: translate3d(0, -3000px, 0);transform: translate3d(0, -3000px, 0);}
        60% {opacity: 1;-webkit-transform: translate3d(0, 25px, 0);transform: translate3d(0, 25px, 0);}
        75% {-webkit-transform: translate3d(0, -10px, 0);transform: translate3d(0, -10px, 0);}
        90% {-webkit-transform: translate3d(0, 5px, 0);transform: translate3d(0, 5px, 0);}
        100% {-webkit-transform: none;transform: none;}
    } @else if $animation-name == bounceInLeft {
        0%, 60%, 75%, 90%, 100% {-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);}
        0% {opacity: 0;-webkit-transform: translate3d(-3000px, 0, 0);transform: translate3d(-3000px, 0, 0);}
        60% {opacity: 1;-webkit-transform: translate3d(25px, 0, 0);transform: translate3d(25px, 0, 0);}
        75% {-webkit-transform: translate3d(-10px, 0, 0);transform: translate3d(-10px, 0, 0);}
        90% {-webkit-transform: translate3d(5px, 0, 0);transform: translate3d(5px, 0, 0);}
        100% {-webkit-transform: none;transform: none;}
    } @else if $animation-name == bounceInRight {
        0%, 60%, 75%, 90%, 100% {-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);}
        0% {opacity: 0;-webkit-transform: translate3d(3000px, 0, 0);transform: translate3d(3000px, 0, 0);}
        60% {opacity: 1;-webkit-transform: translate3d(-25px, 0, 0);transform: translate3d(-25px, 0, 0);}
        75% {-webkit-transform: translate3d(10px, 0, 0);transform: translate3d(10px, 0, 0);}
        90% {-webkit-transform: translate3d(-5px, 0, 0);transform: translate3d(-5px, 0, 0);}
        100% {-webkit-transform: none;transform: none;}
    } @else if $animation-name == bounceInUp {
        0%, 60%, 75%, 90%, 100% {-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);}
        0% {opacity: 0;-webkit-transform: translate3d(0, 3000px, 0);transform: translate3d(0, 3000px, 0);}
        60% {opacity: 1;-webkit-transform: translate3d(0, -20px, 0);transform: translate3d(0, -20px, 0);}
        75% {-webkit-transform: translate3d(0, 10px, 0);transform: translate3d(0, 10px, 0);}
        90% {-webkit-transform: translate3d(0, -5px, 0);transform: translate3d(0, -5px, 0);}
        100% {-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
    } @else if $animation-name == fade {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }
}
@mixin keyframes-animation($animation-name){
    @-webkit-keyframes $animation-name{
        @content;
    }
    @-ms-keyframes $animation-name{
        @content;
    }
    @-moz-keyframes $animation-name{
        @content;
    }
    @keyframes $animation-name{
        @content;
    }
}
@mixin keyframes($name : empty){
    @include keyframes-animation($name){
        @include content-animation($name);
    };
    .#{$name}{
        @include animation-name($name);
        @include animation-duration(1s);
        @include animation-fill-mode(backwards);
        @include animation-iteration-count(none);
    }
}

// Call keyframes
@include keyframes(bounceIn);
@include keyframes(bounceInDown);
@include keyframes(bounceInLeft);
@include keyframes(bounceInRight);
@include keyframes(bounceInUp);
@include keyframes(fade);


//-- Slideshow ========================================= //
    #slideshow{
        margin-top: 30px;
        .slider-container{
            overflow: hidden;
            background-color: #ffffff;
          	
          		max-height: 580px;
          	
        }
    }
    .slider-container{
        margin: 0px;
        background-color: transparent;
        position: relative;
        width: 100%;
    }
    .leo-viewport{
        max-height: 2000px;
        @include transition(all 1s ease 0s);
      	direction: ltr !important;
    }
    .slides, .leo-control-nav, .leo-direction-nav {
        margin: 0px;
        padding: 0px;
        list-style: outside none none;
    }
    #sliderlayer li{
        position: relative;
        margin: 0px;
        padding: 0px;
    }
    .slide-caption{
        position: absolute;
        margin: 0px auto;
        width: 100%;
        left: 0px;
        right: 0px;
        > div {
            opacity:0;
            @include transition(all 0.5s ease 0s);
            .leo-active-slide &{
                opacity:1;
                @include transition(all 0.5s ease 0s);
            }
        }
        .text_first{
            font-size: 15px;
            color: $slider-text-color;
            text-shadow: none;
            font-family: Brandon, sans-serif;
            font-weight: normal;
            font-style: normal;
            text-transform: uppercase;
            letter-spacing: 3px;
            line-height: 40px;
            padding:0px 0px 10px 0px;
            margin: 0px 50px;
            background: url(//cdn.shopify.com/s/files/1/1403/8269/t/3/assets/bulet-slide.png?6864796984610862237) bottom center no-repeat;
        }
        h3{
            font-family: Brandon, sans-serif;
            font-weight: 600;
            text-transform: uppercase;
            color: $slider-text-color;
            letter-spacing: 5px;
            font-size: 36px;
            padding: 20px 50px;
            margin: 0px;
            line-height: 40px;
        }
        p{
            color: $slider-text-color;
            font-size: 14px;
            font-family: Noticia Text, sans-serif;
            line-height: 22px;
            padding: 0px 50px;
          	letter-spacing: 0.4px;
        }
        .btn-slide{
            border: 1px solid $slider-text-color;
            color: $slider-text-color;
            text-transform: uppercase;
            margin: 10px 50px 0px 50px;
            padding: 0px 15px;
            line-height: 40px;
            font-family: Brandon, sans-serif;
            font-size: 11px;
            font-weight: normal;
            letter-spacing: 2px;
        }
    }
    
        
        
        
        

        
        

        
        

        
        

        
                

        
            .caption_1{
                
                    top: 25%;
                
                text-align: center;
                .text_first{
                    background-position: bottom center;
                }
            }
            .leo-active-slide .caption_1  h3{
                @extend .bounceInRight;
                @include animation-delay(1s);
            }
            .leo-active-slide .caption_1  p{
                @extend .bounceInRight;
                @include animation-delay(1.5s);
            }
            .leo-active-slide .caption_1  a{
                @extend .bounceIn;
                @include animation-delay(2.5s);
            }
            .leo-active-slide .caption_1 .text_first{
                @extend .fade;
                @include animation-delay(0.5s);
            }
        
    
        
        
        
        

        
        

        
        

        
        

        
                

        
            .caption_2{
                
                    top: 25%;
                
                text-align: right;
                .text_first{
                    background-position: bottom right;
                }
            }
            .leo-active-slide .caption_2  h3{
                @extend .bounceInDown;
                @include animation-delay(1s);
            }
            .leo-active-slide .caption_2  p{
                @extend .bounceInUp;
                @include animation-delay(1.5s);
            }
            .leo-active-slide .caption_2  a{
                @extend .bounceIn;
                @include animation-delay(2.5s);
            }
            .leo-active-slide .caption_2 .text_first{
                @extend .fade;
                @include animation-delay(0.5s);
            }
        
    
        
        
        
        

        
        

        
        

        
        

        
                

        
            .caption_3{
                
                    top: 25%;
                
                text-align: right;
                .text_first{
                    background-position: bottom right;
                }
            }
            .leo-active-slide .caption_3  h3{
                @extend .fade;
                @include animation-delay(2s);
            }
            .leo-active-slide .caption_3  p{
                @extend .fade;
                @include animation-delay(1.5s);
            }
            .leo-active-slide .caption_3  a{
                @extend .fade;
                @include animation-delay(2.0s);
            }
            .leo-active-slide .caption_3 .text_first{
                @extend .fade;
                @include animation-delay(1.5s);
            }
        
    
        
        
        
        

        
        

        
        

        
        

        
                

        
    
        
        
        
        

        
        

        
        

        
        

        
                

        
    
        
        
        
        

        
        

        
        

        
        

        
                

        
    
    
        .leo-control-nav{
            display: none;
        }
    
    
        .leo-direction-nav{
            a{
                position: absolute;
                top: 50%;
                margin: -30px 0px 0px 0px;
                display: block;
                cursor: pointer;
                font-size: 0px;
                &.leo-prev{
                    left: -30px;
                    right: auto;
                    border-left: 30px solid $theme-color-default;
                    border-top: 30px solid transparent;
                    border-bottom: 30px solid transparent;
                    @include transition(all 0.35s ease);
                    .slider-container:hover &{
                        left: 0px;
                    }
                    &:before{
                        content: "";
                        background: url("//cdn.shopify.com/s/files/1/1403/8269/t/3/assets/list-icon.png?6864796984610862237") no-repeat scroll -80px -58px transparent;
                        position:absolute;
                        top: -30px;
                        right: 0px;
                        height: 60px;
                        width: 30px;
                    }
                }
                &.leo-next{
                    right: -30px;
                    left: auto;
                    border-right: 30px solid $theme-color-default;
                    border-top: 30px solid transparent;
                    border-bottom: 30px solid transparent;
                    @include transition(all 0.35s ease);
                    .slider-container:hover &{
                        right: 0px;
                    }
                    &:before{
                        content: "";
                        background: url("//cdn.shopify.com/s/files/1/1403/8269/t/3/assets/list-icon.png?6864796984610862237") no-repeat scroll -60px -0px transparent;
                        position:absolute;
                        top: -30px;
                        left: 0px;
                        height: 60px;
                        width: 30px;
                    }
                }
            }
        }
    

//-- End Slideshow ===================================== //
