//========== Variables ==========//
$theme-color-default: #FFFFFF;
$theme-font-size: 14px;
$slider-text-color: #FFFFFF;
{% capture font_family %}Noticia Text{% endcapture %}
{% capture font_family_secondary %}Brandon{% endcapture %}

//-- Mixins ===============================//
@mixin clearfix() {
    &:before, &:after {
        content: " "; // 1
        display: table; // 2
    }
    &:after {
        clear: both;
    }
}
// Animations
@mixin animation($animation) {
    -webkit-animation: $animation;
            animation: $animation;
}
@mixin animation-name($name) {
    -webkit-animation-name: $name;
            animation-name: $name;
}
@mixin animation-duration($duration) {
    -webkit-animation-duration: $duration;
            animation-duration: $duration;
}
@mixin animation-timing-function($timing-function) {
    -webkit-animation-timing-function: $timing-function;
            animation-timing-function: $timing-function;
}
@mixin animation-delay($delay) {
    -webkit-animation-delay: $delay;
            animation-delay: $delay;
}
@mixin animation-iteration-count($iteration-count) {
    -webkit-animation-iteration-count: $iteration-count;
            animation-iteration-count: $iteration-count;
}
@mixin animation-direction($direction) {
    -webkit-animation-direction: $direction;
            animation-direction: $direction;
}
@mixin animation-fill-mode($animation-fill-mode){
    -webkit-animation-fill-mode: $animation-fill-mode;
    -moz-animation-fill-mode: $animation-fill-mode;
    -ms-animation-fill-mode: $animation-fill-mode;
    -o-animation-fill-mode: $animation-fill-mode;
    animation-fill-mode: $animation-fill-mode;
}
@mixin transition($transition...) {
    -webkit-transition: $transition;
            transition: $transition;
}
@mixin content-animation($animation-name) {
    @if $animation-name == bounce {
        0%, 20%, 53%, 80%, 100% {-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);}
        40%, 43% {-webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);-webkit-transform: translate3d(0, -30px, 0);transform: translate3d(0, -30px, 0);}
        70% {-webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);-webkit-transform: translate3d(0, -15px, 0);transform: translate3d(0, -15px, 0);}
        90% {-webkit-transform: translate3d(0,-4px,0);transform: translate3d(0,-4px,0);}
    } @else if $animation-name == bounceIn {
        0%, 20%, 40%, 60%, 80%, 100% {-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);}
        0% {opacity: 0;-webkit-transform: scale3d(.3, .3, .3);transform: scale3d(.3, .3, .3);}
        20% {-webkit-transform: scale3d(1.1, 1.1, 1.1);transform: scale3d(1.1, 1.1, 1.1);}
        40% {-webkit-transform: scale3d(.9, .9, .9);transform: scale3d(.9, .9, .9);}
        60% {opacity: 1;-webkit-transform: scale3d(1.03, 1.03, 1.03);transform: scale3d(1.03, 1.03, 1.03);}
        80% {-webkit-transform: scale3d(.97, .97, .97);transform: scale3d(.97, .97, .97);}
        100% {opacity: 1;-webkit-transform: scale3d(1, 1, 1);transform: scale3d(1, 1, 1);}
    } @else if $animation-name == bounceInDown {
        0%, 60%, 75%, 90%, 100% {-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);}
        0% {opacity: 0;-webkit-transform: translate3d(0, -3000px, 0);transform: translate3d(0, -3000px, 0);}
        60% {opacity: 1;-webkit-transform: translate3d(0, 25px, 0);transform: translate3d(0, 25px, 0);}
        75% {-webkit-transform: translate3d(0, -10px, 0);transform: translate3d(0, -10px, 0);}
        90% {-webkit-transform: translate3d(0, 5px, 0);transform: translate3d(0, 5px, 0);}
        100% {-webkit-transform: none;transform: none;}
    } @else if $animation-name == bounceInLeft {
        0%, 60%, 75%, 90%, 100% {-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);}
        0% {opacity: 0;-webkit-transform: translate3d(-3000px, 0, 0);transform: translate3d(-3000px, 0, 0);}
        60% {opacity: 1;-webkit-transform: translate3d(25px, 0, 0);transform: translate3d(25px, 0, 0);}
        75% {-webkit-transform: translate3d(-10px, 0, 0);transform: translate3d(-10px, 0, 0);}
        90% {-webkit-transform: translate3d(5px, 0, 0);transform: translate3d(5px, 0, 0);}
        100% {-webkit-transform: none;transform: none;}
    } @else if $animation-name == bounceInRight {
        0%, 60%, 75%, 90%, 100% {-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);}
        0% {opacity: 0;-webkit-transform: translate3d(3000px, 0, 0);transform: translate3d(3000px, 0, 0);}
        60% {opacity: 1;-webkit-transform: translate3d(-25px, 0, 0);transform: translate3d(-25px, 0, 0);}
        75% {-webkit-transform: translate3d(10px, 0, 0);transform: translate3d(10px, 0, 0);}
        90% {-webkit-transform: translate3d(-5px, 0, 0);transform: translate3d(-5px, 0, 0);}
        100% {-webkit-transform: none;transform: none;}
    } @else if $animation-name == bounceInUp {
        0%, 60%, 75%, 90%, 100% {-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);}
        0% {opacity: 0;-webkit-transform: translate3d(0, 3000px, 0);transform: translate3d(0, 3000px, 0);}
        60% {opacity: 1;-webkit-transform: translate3d(0, -20px, 0);transform: translate3d(0, -20px, 0);}
        75% {-webkit-transform: translate3d(0, 10px, 0);transform: translate3d(0, 10px, 0);}
        90% {-webkit-transform: translate3d(0, -5px, 0);transform: translate3d(0, -5px, 0);}
        100% {-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
    } @else if $animation-name == fade {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }
}
@mixin keyframes-animation($animation-name){
    @-webkit-keyframes $animation-name{
        @content;
    }
    @-ms-keyframes $animation-name{
        @content;
    }
    @-moz-keyframes $animation-name{
        @content;
    }
    @keyframes $animation-name{
        @content;
    }
}
@mixin keyframes($name : empty){
    @include keyframes-animation($name){
        @include content-animation($name);
    };
    .#{$name}{
        @include animation-name($name);
        @include animation-duration(1s);
        @include animation-fill-mode(backwards);
        @include animation-iteration-count(none);
    }
}

// Call keyframes
@include keyframes(bounceIn);
@include keyframes(bounceInDown);
@include keyframes(bounceInLeft);
@include keyframes(bounceInRight);
@include keyframes(bounceInUp);
@include keyframes(fade);

{% if settings.slider_home_enable %}
//-- Slideshow ========================================= //
    #slideshow{
        margin-top: 30px;
        .slider-container{
            overflow: hidden;
            background-color: {{ settings.slider_background_color }};
          	{% if settings.slider_maxheight != blank %}
          		max-height: {{ settings.slider_maxheight }};
          	{% endif %}
        }
    }
    .slider-container{
        margin: 0px;
        background-color: transparent;
        position: relative;
        width: 100%;
    }
    .leo-viewport{
        max-height: 2000px;
        @include transition(all 1s ease 0s);
      	direction: ltr !important;
    }
    .slides, .leo-control-nav, .leo-direction-nav {
        margin: 0px;
        padding: 0px;
        list-style: outside none none;
    }
    #sliderlayer li{
        position: relative;
        margin: 0px;
        padding: 0px;
    }
    .slide-caption{
        position: absolute;
        margin: 0px auto;
        width: 100%;
        left: 0px;
        right: 0px;
        > div {
            opacity:0;
            @include transition(all 0.5s ease 0s);
            .leo-active-slide &{
                opacity:1;
                @include transition(all 0.5s ease 0s);
            }
        }
        .text_first{
            font-size: 15px;
            color: $slider-text-color;
            text-shadow: none;
            font-family: {{font_family_secondary}}, sans-serif;
            font-weight: normal;
            font-style: normal;
            text-transform: uppercase;
            letter-spacing: 3px;
            line-height: 40px;
            padding:0px 0px 10px 0px;
            margin: 0px 50px;
            background: url({{'bulet-slide.png' | asset_url }}) bottom center no-repeat;
        }
        h3{
            font-family: {{font_family_secondary}}, sans-serif;
            font-weight: 600;
            text-transform: uppercase;
            color: $slider-text-color;
            letter-spacing: 5px;
            font-size: 36px;
            padding: 20px 50px;
            margin: 0px;
            line-height: 40px;
        }
        p{
            color: $slider-text-color;
            font-size: 14px;
            font-family: {{font_family}}, sans-serif;
            line-height: 22px;
            padding: 0px 50px;
          	letter-spacing: 0.4px;
        }
        .btn-slide{
            border: 1px solid $slider-text-color;
            color: $slider-text-color;
            text-transform: uppercase;
            margin: 10px 50px 0px 50px;
            padding: 0px 15px;
            line-height: 40px;
            font-family: {{font_family_secondary}}, sans-serif;
            font-size: 11px;
            font-weight: normal;
            letter-spacing: 2px;
        }
    }
    {% for i in (1..6) %}
        {% capture slide %}slide_{{ i }}{% endcapture %}
        {% capture capture_top %}slider_caption_top_{{ i }}{% endcapture %}
        {% capture capture_align %}slider_caption_{{ i }}{% endcapture %}
        {% capture slide_caption %}caption_{{ i }}{% endcapture %}

        {% capture capture_animation_title %}slideshow_title_effect_{{ i }}{% endcapture %}
        {% capture capture_delay_title %}slideshow_title_delay_{{ i }}{% endcapture %}

        {% capture capture_animation_des %}slideshow_des_effect_{{ i }}{% endcapture %}
        {% capture capture_delay_des %}slideshow_des_delay_{{ i }}{% endcapture %}

        {% capture capture_animation_button %}slideshow_button_effect_{{ i }}{% endcapture %}
        {% capture capture_delay_button %}slideshow_button_delay_{{ i }}{% endcapture %}

        {% capture capture_animation_txtf %}slideshow_txtfirst_effect_{{ i }}{% endcapture %}
        {% capture capture_delay_txtf %}slideshow_txtfirst_delay_{{ i }}{% endcapture %}        

        {% if settings[slide] %}
            .{{slide_caption}}{
                {% if settings[capture_top] != blank %}
                    top: {{settings[capture_top]}};
                {% endif %}
                text-align: {{ settings[capture_align] }};
                .text_first{
                    background-position: bottom {{ settings[capture_align] }};
                }
            }
            .leo-active-slide .{{slide_caption}}  h3{
                @extend .{{ settings[capture_animation_title] }};
                @include animation-delay({{ settings[capture_delay_title] }});
            }
            .leo-active-slide .{{slide_caption}}  p{
                @extend .{{ settings[capture_animation_des] }};
                @include animation-delay({{ settings[capture_delay_des] }});
            }
            .leo-active-slide .{{slide_caption}}  a{
                @extend .{{ settings[capture_animation_button] }};
                @include animation-delay({{ settings[capture_delay_button] }});
            }
            .leo-active-slide .{{slide_caption}} .text_first{
                @extend .{{ settings[capture_animation_txtf] }};
                @include animation-delay({{ settings[capture_delay_txtf] }});
            }
        {% endif %}
    {% endfor %}
    {% if settings.slider_type_Nav == "bullet" %}
        .leo-control-nav{
            width: 100%;
            position: absolute;
            bottom: 20px;
            text-align: center;
            li{
                position: relative;
                margin: 0px 6px;
                display: inline-block;
                a{
                    position: relative;
                    cursor: pointer;
                    font-size: 0px;
                    width: 20px;
                    height: 20px;
                    display: block;
                    background: url("{{ "list-icon.png" | asset_url }}") no-repeat scroll 0px -54px transparent;
                    &.leo-active{
                        background-position: 0px -74px;
                    }
                }
            }
        }
    {% elsif settings.slider_type_Nav == "none" %}
        .leo-control-nav{
            display: none;
        }
    {% endif %}
    {% if settings.slider_style_arrows == "none" %}
        .leo-direction-nav{
            display: none;
        }
    {% elsif settings.slider_style_arrows == "nextpreview" %}
        .leo-direction-nav{
            a{
                position: absolute;
                top: 50%;
                margin: -30px 0px 0px 0px;
                display: block;
                cursor: pointer;
                font-size: 0px;
                &.leo-prev{
                    left: -30px;
                    right: auto;
                    border-left: 30px solid $theme-color-default;
                    border-top: 30px solid transparent;
                    border-bottom: 30px solid transparent;
                    @include transition(all 0.35s ease);
                    .slider-container:hover &{
                        left: 0px;
                    }
                    &:before{
                        content: "";
                        background: url("{{ "list-icon.png" | asset_url }}") no-repeat scroll -80px -58px transparent;
                        position:absolute;
                        top: -30px;
                        right: 0px;
                        height: 60px;
                        width: 30px;
                    }
                }
                &.leo-next{
                    right: -30px;
                    left: auto;
                    border-right: 30px solid $theme-color-default;
                    border-top: 30px solid transparent;
                    border-bottom: 30px solid transparent;
                    @include transition(all 0.35s ease);
                    .slider-container:hover &{
                        right: 0px;
                    }
                    &:before{
                        content: "";
                        background: url("{{ "list-icon.png" | asset_url }}") no-repeat scroll -60px -0px transparent;
                        position:absolute;
                        top: -30px;
                        left: 0px;
                        height: 60px;
                        width: 30px;
                    }
                }
            }
        }
    {% endif %}

//-- End Slideshow ===================================== //
{% endif %}