@font-face {
    font-family: 'Brandon';
    src: url('//cdn.shopify.com/s/files/1/1403/8269/t/3/assets/brandon_reg-webfont.eot?13896823027864686626');
    src: url('//cdn.shopify.com/s/files/1/1403/8269/t/3/assets/brandon_reg-webfont.eot?%23iefix&13896823027864686626') format('embedded-opentype'),
         url('//cdn.shopify.com/s/files/1/1403/8269/t/3/assets/brandon_reg-webfont.woff?13896823027864686626') format('woff'),
         url('//cdn.shopify.com/s/files/1/1403/8269/t/3/assets/brandon_reg-webfont.ttf?13896823027864686626') format('truetype'),
         url('//cdn.shopify.com/s/files/1/1403/8269/t/3/assets/brandon_reg-webfont.svg%23brandon?13896823027864686626') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Brandon';
    src: url('//cdn.shopify.com/s/files/1/1403/8269/t/3/assets/brandon_light-webfont.eot?13896823027864686626');
    src: url('//cdn.shopify.com/s/files/1/1403/8269/t/3/assets/brandon_light-webfont.eot?%23iefix&13896823027864686626') format('embedded-opentype'),
         url('//cdn.shopify.com/s/files/1/1403/8269/t/3/assets/brandon_light-webfont.woff?13896823027864686626') format('woff'),
         url('//cdn.shopify.com/s/files/1/1403/8269/t/3/assets/brandon_light-webfont.ttf?13896823027864686626') format('truetype'),
         url('//cdn.shopify.com/s/files/1/1403/8269/t/3/assets/brandon_light-webfont.svg%23brandon_grotesquelight?13896823027864686626') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Brandon';
    src: url('//cdn.shopify.com/s/files/1/1403/8269/t/3/assets/brandon_bld-webfont.eot?13896823027864686626');
    src: url('//cdn.shopify.com/s/files/1/1403/8269/t/3/assets/brandon_bld-webfont.eot?%23iefix&13896823027864686626') format('embedded-opentype'),
         url('//cdn.shopify.com/s/files/1/1403/8269/t/3/assets/brandon_bld-webfont.woff?13896823027864686626') format('woff'),
         url('//cdn.shopify.com/s/files/1/1403/8269/t/3/assets/brandon_bld-webfont.ttf?13896823027864686626') format('truetype'),
         url('//cdn.shopify.com/s/files/1/1403/8269/t/3/assets/brandon_bld-webfont.svg%23brandon_grotesquebold?13896823027864686626') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Brandon';
    src: url('//cdn.shopify.com/s/files/1/1403/8269/t/3/assets/brandon_reg_it-webfont.eot?13896823027864686626');
    src: url('//cdn.shopify.com/s/files/1/1403/8269/t/3/assets/brandon_reg_it-webfont.eot?%23iefix&13896823027864686626') format('embedded-opentype'),
         url('//cdn.shopify.com/s/files/1/1403/8269/t/3/assets/brandon_reg_it-webfont.woff2?13896823027864686626') format('woff2'),
         url('//cdn.shopify.com/s/files/1/1403/8269/t/3/assets/brandon_reg_it-webfont.woff?13896823027864686626') format('woff'),
         url('//cdn.shopify.com/s/files/1/1403/8269/t/3/assets/brandon_reg_it-webfont.ttf?13896823027864686626') format('truetype'),
         url('//cdn.shopify.com/s/files/1/1403/8269/t/3/assets/brandon_reg_it-webfont.svg%23brandon_grotesqueRgIt?13896823027864686626') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Brandon';
    src: url('//cdn.shopify.com/s/files/1/1403/8269/t/3/assets/brandon_blk-webfont.eot?13896823027864686626');
    src: url('//cdn.shopify.com/s/files/1/1403/8269/t/3/assets/brandon_blk-webfont.eot?%23iefix&13896823027864686626') format('embedded-opentype'),
         url('//cdn.shopify.com/s/files/1/1403/8269/t/3/assets/brandon_blk-webfont.woff2?13896823027864686626') format('woff2'),
         url('//cdn.shopify.com/s/files/1/1403/8269/t/3/assets/brandon_blk-webfont.woff?13896823027864686626') format('woff'),
         url('//cdn.shopify.com/s/files/1/1403/8269/t/3/assets/brandon_blk-webfont.ttf?13896823027864686626') format('truetype'),
         url('//cdn.shopify.com/s/files/1/1403/8269/t/3/assets/brandon_blk-webfont.svg%23brandon_grotesqueblack?13896823027864686626') format('svg');
    font-weight: 900;
    font-style: normal;
}