<section id="columns" class="columns-container">
	<div id="top_column" {% if settings.lazyload_enable %}class="wow animated {{ settings.lazyload_topcolumn }}"{% endif %}>
		<div class="container">
			{% if settings.home_blockhtml_enable %}
				<div class="home_html row">
					{% include 'block-htmlhome' %}
				</div>
			{% endif %}
		</div>
	</div>
	<div id="center_column" class="center_column">
		<div class="container">
			<div class="row {% if settings.lazyload_enable %}wow animated {{ settings.lazyload_protop }}{% endif %}">
				<div class="col-xs-12 col-sm-12">
					{% if settings.home_producttabs_enable %}
						{% include 'block-producttabs' with '01' %}
					{% endif %}
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-9 {% if settings.lazyload_enable %}wow animated {{ settings.lazyload_bloghome }}{% endif %}">
					{% if settings.home_blogs_enable %}
						{% include 'block-blog' with '01' %}
					{% endif %}
				</div>
				<div class="col-xs-12 col-sm-12 col-md-3 {% if settings.lazyload_enable %}wow animated {{ settings.lazyload_newsletter }}{% endif %}">
					{% if settings.homepage_newsletter_enable %}
	                    {% include 'block-newsletter' %}
	                {% endif %}
				</div>
			</div>
			<div class="row {% if settings.lazyload_enable %}wow animated {{ settings.lazyload_htmlbottom }}{% endif %}">
				<div class="col-xs-12 col-sm-12">
					{% if settings.homepage_bannerbottom_enable %}
	                    {% include 'block-bannerhomebottom' %}
	                {% endif %}
				</div>
			</div>
			<div class="row {% if settings.lazyload_enable %}wow animated {{ settings.lazyload_manu }}{% endif %}">
				<div class="col-xs-12 col-sm-12">
					{% if settings.home_vendor_carousel_enable %}
						{% include 'block-manucarousel' with '01' %}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>